body{
    background-color: blue;
    height: 1000px;
}

.frame{
    background-color: white;
    margin: 20px;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

@media (min-width:1000px) {
    .frame{
        margin: 0;
        margin-left: 350px;
        margin-right: 350px;
    }
}

.header{
    font-size: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.head-line{
    border-color: red;
    width: 20%;
    height: 0;
}

.between{
    justify-content: center;
    width: 90%;
    height: 0;
}

.foodframe{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.starters{
    background-color: red;
    flex: 1;
    display: flex;
}

.start-food{
    border: solid;
    border-radius: 10px;
    height: 266px;
    margin: 5px;
    width: 50%;
}

.thumb{
    background-color: blue;
    height: 50%;
    border-radius: 10px;
    margin: 2px;
}

.pic{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.desc{
    background-color: pink;
    height: 48%;
    border-radius: 10px;
    margin: 2px;
}

.title{
    font-size: 30px;
    text-decoration: underline;
    display: block;
}

.info{
    margin-top: 5px;
    font-size: 18px;
}

.mains{
    flex: 1;
    background-color: pink;
    display: flex;
}

.main-food{
    background-color: rgb(0, 0, 0);
    flex: 1;
    margin: 5px;
}

.deserts{
    flex: 1;
    background-color: red;
    display: flex;
}

.end-food{
    background-color: rgb(0, 0, 0);
    flex: 1;
    margin: 5px;
}

.moreinfo{
    background-color: purple;
    height: 1000px;
    width: 250px;
    z-index: 50;
}

.extra{
    background-color: purple;
    display: none;
    z-index: 50;
    position: absolute;
    height: 67%;
    width: 660px;
    left: 160px;
    top: 500px;
    text-align: center;
}

.exit{
    background-color: blue;
    float: right;
}

.exit:hover{
    cursor: pointer;
}

.info-title{
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.info-main{
    text-align: center;
}
